
<div *ngIf="challengeClicked==false" class="container component-margin">
<table  class="table table-hover clickable">
  <thead>
    <tr>
      <th scope="col">Concours</th>
      <th *ngIf="time=='futur'" scope="col">Délaie inscription</th>
      <th *ngIf="time=='futur'" scope="col">Nbr d'équipes max</th>
      <th *ngIf="time=='futur'" scope="col"></th>
      <th *ngIf="time=='past'" scope="col">Fin du concours</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let challenge of challenges" (click)="showInfoChallenge(challenge.challengeId)">
    <td> {{challenge.name}}</td>
    <td  *ngIf="time=='futur'">{{challenge.inscriptionDate  | date: 'le dd.MM.yyyy à HH:mm:ss'}}</td>
    <td *ngIf="time=='futur'"> {{challenge.nbTeams}}</td>
    <td *ngIf="time=='futur'"> </td>
    <td *ngIf="time=='past'"> {{challenge.end | date: 'le dd.MM.yyyy à HH:mm:ss'}}</td>
  </tr>
</tbody>

</table>
</div>


<app-challenge-details idChallenge={{this.challengeIdClicked}} *ngIf="challengeClicked==true"></app-challenge-details>

<button (click)="ngOnInit()" *ngIf="challengeClicked==true" type="button" class="btn btn-danger btn-md">
  Retour
</button>
