<div *ngIf="idChallenge!=0">
<div class="container component-margin light-subtitles">
  <div class="centered-title">
    <h1>{{challenge?.name}}</h1>
  </div>
  <hr>
  <h4>Description</h4>
  <p class="description">{{getDescription()}}</p>
  <div class="data">
    <!--<div class="data-button">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <p>Données</p>
    </div>-->
    <div class="data-button">
      <i class="fa fa-trophy" aria-hidden="true"></i>
      <p>Classement</p>
    </div>
    <div *ngIf="hasFigures()" class="data-button" (click)="downloadFigures()">
      <i class="fa fa-file-image-o" aria-hidden="true"></i>
      <p>Figures</p>
    </div>
    <div *ngIf="hasVideos()" class="data-button" (click)="downloadVideos()">
      <i class="fa fa-file-video-o" aria-hidden="true"></i>
      <p>Vidéos</p>
    </div>
  </div>
  <hr>
  <h4>Organisateurs</h4>
  <div class="organizers">
    <div *ngFor="let organizer of challenge?.organizers" class="organizer-profile">
      <img [src]="getProfilePicture(organizer.accountId)"/>
      <p>{{organizer.pseudo}}</p>
    </div>
  </div>
  <hr>
  <!-- Si le concours n'a pas encore commencé -->
   <div *ngIf="(challenge.begin  | date:'yyyy/MM/dd HH:mm:ss') > (now | date:'yyyy/MM/dd HH:mm:ss')">
  <h4>Participants</h4>
  <ul class="participants">
    <li *ngFor="let participant of challenge?.participants">{{participant.name}}</li>
  </ul>
  <hr>
</div>

<!-- Concours en cours et passées-->
<div *ngIf="(challenge.begin | date:'yyyy/MM/dd HH:mm:ss') < (now | date:'yyyy/MM/dd HH:mm:ss') ">
<h4>Classement</h4>
<table class="table" >
<thead>
  <tr>
    <th scope="col">Position</th>
    <th scope="col">Nom de l'équipe</th>
    <th scope="col">Nbr de solution déposée</th>
    <th scope="col">Meilleur ranking</th>
  </tr>
</thead>

<tbody>

<tr *ngFor="let participant of challenge?.participants;  let i = index " >
  <td>{{i}}</td>
  <td>{{participant.name}}</td>
  <td></td>
  <td></td>
</tr>
</tbody>

</table>
<hr>
</div>
<div *ngIf="idChallenge==0">
  <div class="container component-margin ">
    <div class="row">
      <div class="lt-md">
      <p>
        Il n'y actuellement pas de concours, cliquez sur l'onglet "Passés" pour avoir les infomations des concours qui ont déjà eu lieu
         ou sur "Futurs" pour avoir les informations des prochains concours.
      </p>
    </div>
    </div>
  </div>
</div>

<div #createTeamModal class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créer une équipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label for="teamName" class="col col-form-label">Nom de groupe</label>
          <input type="text" class="col form-control" id="teamName" placeholder="Entrez un nom de groupe" [value]="team?.name" (keyup)="team.name = $event.target.value">
        </div>
        <div class="form-group row">
          <label for="addMember" class="col col-form-label">Ajouter un membre</label>
          <input type="text" class="col form-control" id="addMember" placeholder="Entrez le nom d'un membre" (focus)="displayPotentialMembers()" (keyup)="displayPotentialMembers()" list=members>
          <datalist id=members></datalist>
          <button type="button" (click)="addMember()">Ajouter</button>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="table-wrapper-2">
              <table class="table" id="table">
                <tbody #organizersTableBody id="organizersTableBody"></tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div *ngIf="team" class="form-group row">
          <button type="button" class="btn btn-primary" (click)="modifyTeam()">Modifier le groupe</button>
          <button type="button" class="btn btn-primary" (click)="deleteTeam()">Supprimer le groupe</button>
        </div>
        <div *ngIf="!team">
          <button type="button" class="btn btn-primary" (click)="createTeam()">Inscrire le groupe</button>
        </div>
      </div>
    </div>
  </div>
</div>
