<div class="container component-margin light-subtitles">
  <div class="centered-title">
    <h1>{{challenge?.name}}</h1>
  </div>
  <hr>
  <h4>Description</h4>
  <p class="description">{{getDescription()}}</p>
  <div class="data">
    <!--<div class="data-button">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <p>Données</p>
    </div>-->
    <div class="data-button">
      <i class="fa fa-trophy" aria-hidden="true"></i>
      <p>Classement</p>
    </div>
    <div *ngIf="hasFigures()" class="data-button" (click)="downloadFigures()">
      <i class="fa fa-file-image-o" aria-hidden="true"></i>
      <p>Figures</p>
    </div>
    <div *ngIf="hasVideos()" class="data-button" (click)="downloadVideos()">
      <i class="fa fa-file-video-o" aria-hidden="true"></i>
      <p>Vidéos</p>
    </div>
  </div>
  <hr>
  <h4>Organisateurs</h4>
  <div class="organizers">
    <div *ngFor="let organizer of challenge?.organizers" class="organizer-profile">
      <img [src]="getProfilePicture(organizer.accountId)"/>
      <p>{{organizer.pseudo}}</p>
    </div>
  </div>
  <hr>
  <h4>Participants</h4>
  <ul class="participants">
    <li *ngFor="let participant of challenge?.participants">{{participant.name}}</li>
  </ul>
  <hr>
  <div class="make-team">
    <button type="button" class="btn btn-primary btn-lg">Créer une équipe !</button>
  </div>
</div>
