table {
  width: 100%;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

td {
  padding-top: 15px;
  padding-bottom: 15px;
}

button:not(:last-child) {
  margin-right: 10px;
}

.action-cell {
  width: 95px;
  max-width: 95px;
}

.action-cell > button {
  max-width: 93px;
}

.id-cell {
  width: 50px;
  max-width: 50px;
}

.fields-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.street-field {
  width: calc(100% - 60px - 1rem);
}

.building-field {
  margin-left: 1rem;
  width: 60px;
}

.postal-code-field {
  margin-right: 1rem;
  width: 70px;
}

.city-field {
  width: calc(100% - 70px - 1rem);
}

.alert-message {
  position: fixed;
  top: 60px;
  left: 20px;
  width: calc(100% - 40px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.alert-show {
  visibility: visible;
  opacity: 1;
}
