
<div class="container component-margin">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Pseudo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of pendingOrganizer;  let i = index">
    <td>
      <div id="profileContainer">
        <img *ngIf="account" id="profileImage" [src]="account.image">
        <img *ngIf="!account" [src]=imgSrc>
        <div id="profileDarkener">
          <div id="profileIcon">
            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </td>
    <td> {{account.lastname}}</td>
    <td> {{account.firstname}}</td>
    <td> {{account.email}}</td>
    <td> {{account.pseudo}} </td>
    <td>
      <button type="button" class="btn btn-primary btn-sm" (click)="acceptAccountPending(i)" >Accepter</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="rejectAccountPending(i)">Refuser</button>
    </td>

  </tr>
</tbody>

</table>
</div>
ouit : {{debug}}
