<div class="row justify-content-center">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary no-outline" (click)="time = 'past'">
      <input type="radio" name="options"> Passés
    </label>
    <label class="btn btn-secondary no-outline active" (click)="time = 'actual'">
      <input type="radio" name="options" checked> Actuel
    </label>
    <label class="btn btn-secondary no-outline" (click)="time = 'futur'">
      <input type="radio" name="options"> Futurs
    </label>
  </div>
</div>


<app-challenges-list time="past" *ngIf="time=='past'"></app-challenges-list>
<app-challenge-details idChallenge=0 *ngIf="time=='actual'"></app-challenge-details>
<app-challenges-list time="futur" *ngIf="time=='futur'"></app-challenges-list>
